* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #d3dee0;
}

.wrapper {
	margin: 0 auto;
	min-width: 480px;
	max-width: 1170px;
	background-color: white;
	box-shadow: 1px 1px 5px 1px #bac5c7;
}


/*-----------------             HEADER            --------------------*/
header {
	/*display: block;*/

}

.top_part {
	display: flex;
	/*flex-wrap: wrap;*/
	position: relative;
	min-height: 225px;
	background-image: url(../images/bg_header.jpg);
}

.blackout {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .3);
}

.wrapper_photo {
	margin: 30px 0 0 100px;
}

.photo {
	position: relative;
	width: 165px;
	height: 165px;
	background-image: url(../images/foto_1.jpg);
	border: 1px solid #62b5d5;
}

.wrapper_additional_photo {
	position: absolute;
	top: 30px;
	left: 153px;
}

.additional_photo {
	position: relative;
	overflow: hidden;
	transform: rotate(45deg);
	border-right: 1px solid #62b5d5;
    border-top: 1px solid #62b5d5;
    width: 25px;
	height: 25px;
}

.additional_photo:before {
	position: absolute;
	top: 7px;
	left: -84px;
	content: "";
	transform: rotate(-45deg);
	background-image: url(../images/foto_1.jpg);
	z-index: -1;
	width: 165px;
	height: 165px;
}

.name {
	position: absolute;
	bottom: 0px;
	width: 165px;
	height: 40px;
	background-color: rgba(82, 190, 289, .8);
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
	color: white;
	font-weight: 700;
}

.header_text {
	position: relative;
	margin: 30px 100px 30px 50px;
	padding: 15px;
	height: 111px;
	background-color: rgba(255, 255, 255, .7);
	border: 1px solid #62b5d5;
	border-radius: 5px;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #555;
	overflow: hidden;
	text-overflow: clip;
}

.wrapper_button_menu {
	display: none;
	background-color: #52bee5;
	box-shadow: 1px 1px 5px 1px #dededc;
	border-top: 1px solid #52bee5;
	border-bottom: 1px solid #52bee5;
	transition: background 200ms;
}

.button_menu {
	/*display: none;*/
	position: relative;
	margin: auto;
	width: 300px;
	height: 48px;
	font-family: 'PT Sans', sans-serif;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	text-align: center;	
	line-height: 48px;
	text-decoration: none;
	transition: background 200ms;
}

.button_menu:hover .menu__min_with_320 {
	display: block;
}

.menu__min_with_320 {
	position: absolute;
	z-index: 1;
	/*display: none;*/
	display: block;
	width: 300px;
	margin: auto;
	background-color: #52bee5;
}

.menu__min_with_320 a {
	height: 48px;
	border-top: 1px solid #26a0cf;
	border-bottom: 1px solid #26a0cf;
	color: #fff;
	font-size: 14px;
	line-height: 38px;
	text-decoration: none;
}	

.menu__min_with_320 p:hover {
	background-color: #26a0cf;
}	

.menu__min_with_768 {
	display: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #52bee5;
	box-shadow: 1px 1px 5px 1px #dededc;
}

.menu__min_with_768 a {
	border-top: 1px solid #52bee5;
	border-bottom: 1px solid #52bee5;
	padding: 0 13px;
	color: white;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 48px;
	text-decoration: none;
	transition: background 200ms;
}

.menu__min_with_768 a:hover {
	height: 48px;
	color: white;
	text-decoration: none;
	background-color: #26a0cf;
}







/*--------------------------                     MAIN (1_index)                ----------------*/

.chapter {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	/*min-width: 768px;
	max-width: 1170px;*/
}

.chapter__wrapper {
	background-image: url(../images/263x263.jpg);
	position: relative;
	margin: 28px 10px 0 15px;
	width: 263px;
	height: 263px;
	border: 1px solid #595959;
	overflow: hidden;
	color: #fff;
}

.chapter__name_grey {
	/*display: block;*/
	opacity: 1;
	position: absolute;
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	background-color: rgba(64, 64, 64, .7);
	transition: all 300ms;
}

.chapter__wrapper:hover .chapter__name_grey {
	/*display: none;*/
	opacity: 0;
}

.chapter__name_blue {
	/*display: block;*/
	opacity: 1;
	position: absolute;
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	background-color: rgba(82, 190, 229, .7);
	transition: all 300ms;
}

.chapter__wrapper:hover .chapter__name_blue {
	/*display: none;*/
	opacity: 0;
}

.chapter__move_to_grey {
	/*display: none;*/
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	background-color: rgb(64, 64, 64);
	transition: all 300ms;
}

.chapter__wrapper:hover .chapter__move_to_grey {
	/*display: block;*/
	opacity: 1;
}

.chapter__move_to_blue {
	/*display: none;*/
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	background-color: rgb(82, 190, 229);
	transition: all 300ms;
}

.chapter__wrapper:hover .chapter__move_to_blue {
	/*display: block;*/
	opacity: 1;
}

.chapter__text_blue {
	/*display: block;*/
	opacity: 1;
	position: absolute;
	bottom: 0;
	width: 223px;
	height: 50px;
	padding: 10px 20px;
	background-color: rgba(82, 190, 229, .7);
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 15px;
	overflow-y: hidden;
	transition: all 300ms;
}

.chapter__wrapper:hover .chapter__text_blue {
	/*display: none;*/
	opacity: 0;
}

.chapter__text_grey {
	/*display: block;*/
	opacity: 1;
	position: absolute;
	bottom: 0;
	width: 223px;
	height: 50px;
	padding: 10px 20px;
	background-color: rgba(64, 64, 64, .7);
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 15px;
	overflow-y: hidden;
	transition: all 300ms;
}

.chapter__wrapper:hover .chapter__text_grey {
	/*display: none;*/
	opacity: 0;
}

.chapter__name_lower_blue {
	/*display: none;*/
	opacity: 0;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 70px;
	background-color: rgb(82, 190, 229);
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	font-size: 28px;
	transition: all 300ms;
}

.chapter__wrapper:hover .chapter__name_lower_blue {
	display: table;
	opacity: 1;
}

.chapter__name_lower_grey {
	/*display: none;*/
	opacity: 0;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 70px;
	background-color: rgb(64, 64, 64);
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	font-size: 28px;
	transition: all 300ms;
}

.chapter__wrapper:hover .chapter__name_lower_grey {
	/*display: table;*/
	opacity: 1;
}

.chapter__name_blue_not_active {
	display: block;
	position: absolute;
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	background-color: rgba(82, 190, 229, .7);
}

.chapter__text_grey_not_active {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	background-color: rgba(64, 64, 64, .7);
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 15px;
	text-align: center;
	overflow-y: hidden;
}




/*----------------------                          MAIN   (2_news)                    ---------------


.wrapper_main_news {
	margin: 0 auto;
	position: relative;
	padding: 20px 0 70px 0;
	width: 80%;
}

.p24_s {
	margin: 0px 0 15px 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 24px;
	font-weight: bold;
}








.links span {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	word-spacing: 10px;
	opacity: 0.6;
}

.links {
	position: absolute;
	bottom: 0px;
	padding-bottom: 10px;
	height: 30px;
}

.links i:hover {
	background-color: #bddce7;
	color: #14abe6;
}

.return {
	position: absolute;
	bottom: 0;
	right: 0;
	line-height: 50px;
	color: white;
	text-decoration: none;
	background-color: #2abaef;
	border: 1px solid white;
	font-weight: 900;
	width: 156px;
	text-align: center;
}

i {
	color: #51bce6;
	border: 1px solid #51bce6;
	border-radius: 100%;
	margin-left: 15px;
	width: 25px;
	height: 25px;
	font-size: 50px;
	text-align: center;
}

.return:hover {
	text-decoration: none;
	background-color: #26a0cf;
	border: 1px solid white;
}




/*-------------------------                   MAIN (3_meteo baza)                -----------------*/


.wrapper_main_baza {
	margin: 30px auto;
	width: 80%;

}

.wrapper_methodological_framework {
	position: relative;
}

.name_methodological_framework {
	padding-left: 40px;
	width: 710px;
	height: 67px;
	border: 1px solid #d9d9d9;
	box-shadow: 2px 2px 4px 0px #d9d9d9;
	color: #555;
	font-size: 20px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	line-height: 67px;
}

.text_methodological_framework {
	position: relative;
	z-index: 1;
	margin-left: 20px;
	padding: 15px 30px;
	width: 650px;
	font-size: 12px;
	font-family: 'PT Sans', sans-serif;
	border: 1px solid #d9d9d9;
	box-shadow: 2px 2px 4px 0px #d9d9d9;
}

.button_expand_turn {
	position: absolute;
	bottom: -21px;
	left: 308px;
	z-index: 100;
	width: 123px;
	height: 20px;
    color: #555; 
    line-height: 20px;
    text-align: center;
    padding: 0px;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-radius: 0px 0px 7px 7px;
	box-shadow: 2px 2px 4px 0px #d9d9d9;
}

.button_download {
	position: absolute;
	top: 0;
	right: 0;
	width: 163px;
	height: 67px;
	background-color: #595959;
	border: 1px solid #d9d9d9;
	box-shadow: 2px 2px 4px 0px #d9d9d9;
	color: white;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	line-height: 67px;
	text-align: center;
	font-size: 24px;
}




/*------------------                     MAIN (4_experience)              ---------------------*/


.wrapper_main_exp {
	margin: 0 auto;
	position: relative;
	padding: 20px 0 0 0;
	width: 80%;
}

.exp_360x360 {
	float: left;
	margin: 5px 30px 20px 0;
}

.exp_300x946 {
	margin: 10px auto;
}

.p24 {
	margin: 5px 0;
	font-family: 'Open Sans', arial, sans-serif;
	font-weight: 600;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
}

.p18 {
	margin-top: 5px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 18px;
}

.p12 {
	margin-top: 5px;
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
}



/*--------------------                   MAIN (5_achievements)               ---------------------*/


.wrapper_main_charters {
	display: flex;
	flex-wrap: wrap;
}


.charter {
	position: relative;
	margin: 26px 13px 0 13px;
	width: 262px;
	height: 343px;
	border: 1px solid #585a59;
}

.name_charter {
	position: absolute;
	bottom: 0;
	display: block;
	padding: 10px 20px;
	width: 222px;
	height: 60px;
	border-top: 1px solid #585a59;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: white;
	overflow-y: hidden;
}

.bg1 {
	background-color: #404040;
}

.bg2 {
	background-color: #52bee5;
}


/*--------------------                   MAIN (6_gallery)               ---------------------*/


.wrapper_main_gallery {
	display: flex;
	flex-wrap: wrap;
}

.gallery_photo {
	display: flex;
	flex-wrap: wrap;
	width: 75%;
}

.wrapper_the_photo {
	margin: 26px 13px 0 13px;
	border: 1px solid #595957;
	width: 262px;
	height: 262px;
	overflow: hidden;
}

.gallery_photo img {
	transform: scale(0.5);
	margin: -385px -157px;
}

.gallery_albums {
	padding-top: 13px;
	width: 25%;
}

.album_sketch {

	position: relative;
	margin: 13px 0 0 13px;
	width: 262px;
	height: 100px;
	border: 1px solid #000;
}

.album_sketch img {
	width: 262px;
	height: 100px;
	
}

.album_name {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 50px;
	color: white;
	z-index: 2;
	text-align: center;
}

.album_sketch_blackout {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .3);
	z-index: 1;
}



/*--------------------                   MAIN (7_the_class_teacher)               ---------------------*/


.wrappr_main_7 {
	margin: 0 auto;
	width: 80%;
	line-height: 24px;
}

.section {
	position: relative;
	margin-top: 30px;
	display: flex;
	border: 1px solid #2abaef;
	box-shadow: 3px 3px 4px 1px #bac5c7;
}

.section img {
	width: 264px;
	height: 264px;
}

.content {
	padding: 20px 20px 50px 20px;
}

.content p {
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
	line-height: 24px;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 600;
}

.links span {
	 word-spacing: 10px;
}

.links {
	position: absolute;
	bottom: 0px;
	padding-bottom: 10px;
	height: 30px;
}

.links i:hover {
	background-color: #bddce7;
	color: #14abe6;
}

.go {
	position: absolute;
	bottom: 0;
	right: 0;
	line-height: 50px;
	color: white;
	text-decoration: none;
	background-color: #2abaef;
	border: 1px solid white;
	font-weight: 900;
	width: 220px;
	text-align: center;
}

i {
	color: #51bce6;
	border: 1px solid #51bce6;
	border-radius: 100%;
	margin-left: 15px;
	width: 25px;
	height: 25px;
	font-size: 50px;
	text-align: center;
}

.go:hover {
	text-decoration: none;
	background-color: #26a0cf;
	border: 1px solid white;
}

.page {
	display: flex;
	width: 25%;
	justify-content: space-around;
	margin: 30px auto;
}

.page_num {
	width: 50px;
	height: 50px;
	border: 1px solid #d9d9d9;
	box-shadow: 1px 1px 4px 0px #bac5c7;
	color: #b5b5b5;
	font-size: 20px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	box-shadow: 2px 2px 3px 1px #bac5c7;
}

.page_num:active {
	color: #414141;
}


/*-------------                   FOOTER                ----------------*/

footer {
	position: relative;
	margin: 30px 0 25px 0;
	width: 100%;
	height: 150px;
	background-color: #52bee5;
	border-top: 1px solid #00c7e4;
	border-bottom: 1px solid #00c7e4;
	color: white;
	box-shadow: 1px 1px 5px 1px #dededc;
}

.wrapper_menu {
	box-sizing: border-box;
	margin: 15px 0px;
	padding-left: 10%;
	padding-right: 10%;
	width: 60%;
	height: 100px;
	float: left;
	display: block;
}

.menu {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column wrap;
}

.menu a {
	display: block;
	color: white;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	width: 180px;
	line-height: 24px;
}

.contacts {
	margin: 15px 0px;
	width: 40%;
	height: 100px;
	float: left;
	display: block;
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	line-height: 24px;
}

h3 {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	font-weight: 600;
}



.info {
	position: absolute;
	bottom: 8px;
}

.info span {
	margin: 0 90px;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
}

.domen {
	color: #333;
}

.info a {
	padding-left: 5px;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #505251;
}


@media screen and (min-device-width: 480px) and (max-device-width: 767px) {

	.top_part {
	flex-wrap: wrap;
	}

	.header_text {
	margin-left: 100px;
	}

	.button_menu {
	display: block;
	}
	
	.button_menu:hover .menu__min_with_320 {
		display: block;
	}
	
	.menu__min_with_320 {
		position: absolute;
		z-index: 1;
	}
	
	.menu__min_with_768 {
		display: none;
	}
	

}




@media screen and (min-device-width: 320px) and (max-device-width: 479px) {
	.top_part {
	flex-wrap: wrap;
	
	}

	.header_text {
	margin-left: 100px;
	}

}


